@page
@model Lost_Videogames.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<br />
<div class="d-flex justify-content-center align-items-center">

    <h5>Inventory management Web application developed for the stock control needs of a video game store “Lost Videogames</h5>

</div>
<br />
<div class="d-flex justify-content-center align-items-center">

    <h5>Developed by Tiago Agostinho in C# with ASP.NET Core Framework and MySql database. IDE Microsoft Visual Studio.</h5>

</div>
<br />
<div>
    <h6>Operation:</h6>
</div>
<br />
<div>
    <h6>Publishers:</h6>
</div>
<div>
    <h7>Here the user can list, create, edit and search videogames publishers.</h7><br />
    <h7>Note: It is not possible to disable publisher if a videogame product from thar publisher exists in the enabled state.</h7>
</div>
<br />
<div>
    <h6>Games:</h6>
</div>
<div>
    <h7>Here the user can list, create, edit and search videogames products.</h7><br />
    <h7>It is only possible to create videogames products from a list of enabled publishers.</h7><br />
    <h7>Note: It is not possible to disable videogame product if available stock of this product exists in inventory.</h7><br />
    <h7>Also it is not possible to enable the videogame product if the publisher of this product is disabled.</h7><br />
</div>
<br />
<br />
<div>
    <h5>Under Construction!!!</h5>
</div>