@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <br />
    <br />
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>  
</div>
<div class="text-center">
    <h1 class="display-4">To Lost VideoGames</h1>
</div>
<div class="text-center">
    <h1 class="display-4">Inventory Management</h1>
</div>
<div class="text-center">
    <br />
    <br />
    <img src="/images/backgorundgames.png" style="width:640px;height:360px;object-fit:contain; max-width: 100%; object-position:center" >
</div>